Dataset_Malawi_National_Football_Team_Matches dataset gather from kaagle and most important of kaagle is to provide various dataset which helps to pratice the machinrlearning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data set proprocessed

In [45]:
df=pd.read_csv('Dataset_Malawi_National_Football_Team_Matches.csv')

In [47]:
df

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
0,~1957,Northern Rhodesia,0.0,5.0,Loss,Unknown,Friendly (First International)
1,~1962,Ghana,0.0,12.0,Loss,Unknown,Friendly
2,~1968,Botswana,8.0,1.0,Win,Unknown,Friendly
3,02/06/1996,South Africa,0.0,3.0,Loss,Away,World Cup Qualifier
4,07/07/1996,Zambia,1.0,1.0,Draw,Home,Friendly
...,...,...,...,...,...,...,...
68,14/11/2024,Burundi,0.0,0.0,Draw,Home,AFCON 2025 Qualifier
69,18/11/2024,Burkina Faso,0.0,1.0,Loss,Away,AFCON 2025 Qualifier
70,02/03/2025,Comoros,2.0,0.0,Win,Away,Friendly
71,20/03/2025,Namibia,0.0,1.0,Loss,Away,World Cup Qualifier
72,24/03/2025,Tunisia,NaN,NaN,TBD,Away,World Cup Qualifier

In [9]:
data.head()

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
0,~1957,Northern Rhodesia,0.0,5.0,Loss,Unknown,Friendly (First International)
1,~1962,Ghana,0.0,12.0,Loss,Unknown,Friendly
2,~1968,Botswana,8.0,1.0,Win,Unknown,Friendly
3,02/06/1996,South Africa,0.0,3.0,Loss,Away,World Cup Qualifier
4,07/07/1996,Zambia,1.0,1.0,Draw,Home,Friendly

In [13]:
data.tail()
data.shape
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            73 non-null     object
 1   Opponent        73 non-null     object
 2   Team Score      72 non-null     float64
 3   Opponent Score  72 non-null     float64
 4   Result          73 non-null     object
 5   Venue           73 non-null     object
 6   Competition     73 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.1+ KB

       Team Score  Opponent Score
count   72.000000       72.000000
mean     0.833333        1.569444
std      1.342690        1.758892
min      0.000000        0.000000
25%      0.000000        0.000000
50%      0.000000        1.000000
75%      1.000000        2.000000
max      8.000000       12.000000

In [17]:
data.isnull().sum()

Date              0
Opponent          0
Team Score        1
Opponent Score    1
Result            0
Venue             0
Competition       0
dtype: int64

In [19]:
data['Team Score'].mean()

0.8333333333333334

In [25]:
df=data.dropna()

In [27]:
df.isnull().sum()

Date              0
Opponent          0
Team Score        0
Opponent Score    0
Result            0
Venue             0
Competition       0
dtype: int64

In [29]:
data['Team Score'].fillna(data['Team Score'].mean(),inplace=True)

In [31]:
data.isnull().sum()

Date              0
Opponent          0
Team Score        0
Opponent Score    1
Result            0
Venue             0
Competition       0
dtype: int64

In [33]:
data['Opponent Score'].fillna(data['Opponent Score'].mean(),inplace=True)

In [35]:
data.isnull().sum()

Date              0
Opponent          0
Team Score        0
Opponent Score    0
Result            0
Venue             0
Competition       0
dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder

# Copy the DataFrame to preserve original
df_encoded = df.copy()

# List of categorical columns to encode (excluding Date for now)
categorical_cols = ['Opponent', 'Result', 'Venue', 'Competition']

# Apply Label Encoding
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))
    label_encoders[col] = le

# Summary statistics of the encoded dataframe
df_encoded.describe(include='all')

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
count,73,73.000000,72.000000,72.000000,73.000000,73.000000,73.000000
unique,73,NaN,NaN,NaN,NaN,NaN,NaN
top,~1957,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,17.232877,0.833333,1.569444,1.123288,0.493151,6.821918
std,NaN,9.470012,1.342690,1.758892,1.066474,0.580309,3.481469
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,NaN,16.000000,0.000000,1.000000,1.000000,0.000000,7.000000
75%,NaN,24.000000,1.000000,2.000000,1.000000,1.000000,11.000000
max,NaN,35.000000,8.000000,12.000000,3.000000,2.000000,11.000000

In [51]:
df_encoded = df_encoded.dropna()  # or use df_encoded.fillna(method='ffill') if preferred

In [53]:
X = df_encoded.drop('Result', axis=1)
y = df_encoded['Result']

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:

df_encoded = df_encoded.drop(columns=['Date'])


X = df_encoded.drop('Result', axis=1)
y = df_encoded['Result']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Model Accuracy:", accuracy)

Model Accuracy: 0.8